.backgroundoflogincontainer {
    background-color: #FFC300;
    height: 100vh;
    width: 100vw;
}

.outercontainerlogin {
    background-color: rgb(66, 66, 66);
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 130px;
    left: 330px;
    padding: 50px 20px;
    border-radius: 10px;
}

.rightpartlogin {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
}

.logindetails {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
    color: white;
}

.containerofloginpass {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.headingoflogin,
.username,
.password,
.submitbutton {
    margin-bottom: 25px;
}

.headingoflogin {
    letter-spacing: 0.5px;
}

.inputlogin {
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.submitbutton {
    margin: 0 auto;
}

.loginbutton {
    background-color: yellow;
    padding: 5px 20px;
}

.outernavbar {
    background-color: #5333ed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    color: white;
    padding: 0 20px;
    align-items: center;
}

.leftnavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftnavbar h1 {
    margin-left: 20px;
}

.headingofclasses {
    padding-top: 10px;
    text-align: center;
    color: rgb(66, 66, 66);
}

#avatarpng {
    background-color: black;
    ;
    border-radius: 70%;
}

.outerbottomofnavbar {
    background-color: #2cd4d9;
    width: 100vw;
    height: 90vh;
}

.classescontainer {
    background-color: #2cd4d9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.classes {
    flex-basis: auto;
    background-color: aquamarine;
    display: inline-block;
    /* margin-top: 50px;
    margin-right: 100px;
    margin-left: 140px; */
    margin: 50px 80px 0px 80px;
    padding: 100px;
    border-radius: 20px;
    font-size: x-large;
    font-weight: 700;
}


/* 


.bottomofnavbar {
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.classes {
   
    padding: 40px;
  
    text-align: center;
    margin: 10px;
    width: 99vw;
    flex: 1 1 30%;
} */